:root {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 90px;
    background-color: #F3F4F6;
}
.card-list {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}
.card {
    width: 347px;
    height: 500px;
}
.top {
    width: 347px;
    height: 58px;
    border-radius: 22px 22px 0px 0px;
    background: #8F8F8F;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    box-sizing: border-box;
    position: relative;
}
.personal-info {
    display: block;
    margin: 0px;
    height: 38px;
}
.profile {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    display: inline;
    align-items: flex-start;
    margin: 0px;
}
.name {
    color: #3C3C3C;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.18px;
    margin: 0px;
}
.date {
    color: #FEFEFE;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
    display: block;
    margin: 0px;
}
.options {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    right: 20px;
}
.image {
    width: 347px;
    height: 280px;
    display: block;
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bottom {
    padding: 20px 10px;
    box-sizing: border-box;
    height: 162px;
    border-radius: 0px 0px 22px 22px;
    background: #FEFEFE;
    width: 347px;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.20))
    drop-shadow(0px 4px 5px #0000001f)
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14));
}
.icons {
    display: flex;
    gap: 10px;
}
.heart:hover {
    fill: #BE1E6A;
    stroke: #BE1E6A;
}
.description {
    margin-top: 10px;
    width: 327px;
    height: 70px;
    color: #2C2C2C;
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
}
.description p {
    margin: 0px;
}
.cat-name {
    font-weight: 600;
}
@media (max-width: 768px) {
    .card-list {
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 375px) {
    .card-list {
        gap: 20px;
    }
}