body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;
    display: flex;
    flex-direction: column;
  }
  
  .top {
      position: relative;
      height: 10px;
      background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 120px;
    font-weight: 300;
      text-transform: uppercase;
  }
  
  h2 {
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 200;
    padding: 0px 120px;
  }
  
  h3 {
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
  }
  
  h4 {
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  h5 {
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    margin-left: 20px;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 40;
  }
  
  h6 {
    font-family: Montserrat, Arial, sans-serif;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #9b59b6;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    transition: ease all 0.3s;
  }
  
  li:hover {
    background-color: #800080;
  }
  
  li + li {
    margin-top: 15px;
  }
  
  li h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  li p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    color: #fff;
  }
  
  li a {
    text-decoration: none;
  }
  
  .biografia {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 120px;
  }
  
  .sumario {
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
  }
  
  .bio {
    background-color: #222222;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .bio img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 300px;
    margin-top: 40px;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 240px;
    margin: auto;
  }
  
  .rss {
    color: #808080;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #808080;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .rss i {
    font-size: 20px;
    color: inherit;
  }
  
  .rss:hover {
    color: cyan;
    border-color: cyan;
  }
  
  
  .enlace {
    color: #fc8181;
  }
  
  .enlace:hover {
    color: #bb82d2;
  }
  
  a {
    font-family: Montserrat, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: regular;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  p {
    font-family: Montserrat, Arial, sans-serif;
    color: #c6c6c6;
    font-weight: 100;
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }
  
  b {
    font-weight: 800;
  }
  
  .proyectos {
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 120px;
  }
  
  .proyecto {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #222222;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .proyecto img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  
  .proyecto .contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .proyecto h3 {
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin-left: 12px;
  }
  
  .proyecto p {
    color: #c6c6c6;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .shortify button {
    background-color: #fc8181;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
  }
  
  .shortify button:focus {
    outline: 0;
  }
  
  .shortify button:after {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .shortify button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .shortify button {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }