.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  grid-template-areas:
    "visor visor visor visor"
    "suma resta mult divis"
    "siete ocho nueve eq"
    "cuatro cinco seis eq"
    "uno dos tres eq"
    "zero punto AC eq";
  margin: 20px auto;
  width: 352px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px #808080;
}

#visor {
  grid-area: visor;
  height: 53px;
  width: auto;
  background-color: #424c52;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  font-family: serif;
  color: white;
  font-size: 36px;
}

.operator, .button, .equal {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: black;
    font-size: 28px;
    font-weight: 400;
}

.operator {
    background-color: #D2DCE3;
    border-right: 2px solid #899DAD;
    border-bottom: 2px solid #899DAD;
}

.button {
    background-color: #EFF2F5;
}
  
.equal {
    background-color: #F77077;
}

#suma {
    grid-area: suma;
}
  
#resta {
    grid-area: resta;
}
 
#mult {
    grid-area: mult;
}
  
#divis {
    grid-area: divis;
    border-right: 0px;
}

#eq {
  grid-area: eq;
  height: auto;
}

#siete, #cuatro, #uno, #ocho, #cinco, #dos, #nueve, #seis, #tres {
    border-right: 2px solid #899DAD;
    border-bottom: 2px solid #899DAD;
}

#cero, #punto, #AC {
    border-right: 2px solid #899DAD;
}
