body {
  margin: 0;
  padding: 0;
  background-color: #fafbff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
  font-family: 'Arial', sans-serif;
}

header {
  grid-area: header;
  background-color: #234567;
  padding: 8px 16px;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 40px;
  margin: 16px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

nav a:hover {
  color: #ff784d;
}

main {
  grid-area: main;
  padding: 8px 16px;
}

article img {
  max-width: 100%;
  min-height: 300px;
  object-fit: cover;
  overflow: auto;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.images img {
  flex: 1;
}

sidebar {
  grid-area: sidebar;
  background-color: #edefff;
  padding: 8px 16px;
}

footer {
  grid-area: footer;
  background-color: #012345;
  padding: 8px 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-form {
  text-align: right;
}

form {
  padding: 12px;
}

.newsletter-form {
  margin-bottom: 15px;
}

.newsletter-form label {
  display: block;
  margin-bottom: 9px;
}

input[type="email"] {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #234567;
}

button {
  background-color: #ff784d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.4s;
}

button:hover {
  background-color: white;
  color: #ff784d;
}

@media (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
  }

  .images {
    flex-direction: column;
  }

  footer {
    padding-top: 16px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
  }
}
